services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    container_name: n8n
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
      - /home/rkadmin/product_listing_generator/n8n_files:/files
    restart: unless-stopped
    # environment:
    #   N8N_SECURE_COOKIE: "false"  # uncomment if you need to bypass the secure-cookie warning

volumes:
  n8n_data:
    external: true
    name: n8n_data
